.row {
	display: flex;
	height: 700px;
	width: 1500px;
	background-color: slategrey;
}

.col {
	/* flex-grow: 1; */
	/* flex-basis: 200px; */
	/* border: 2px solid black; */
}
.col:nth-child(1){
	/* flex-basis: 100px; */
	/* flex-shrink: 4; */
}